/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /* Font settings */
  --main-text-font-family: 'Inter';
  --main-text-font-weight: 400;
  --main-title-font-weight: 700;
  --accent-text-font-family: 'PressStart2P';
  /* Color settings */
  --bgc: #fff;
  --accent-color: #000;
  --background-gradient: 
    repeating-linear-gradient(to right, #d3d3d3 0px 2px, transparent 2px 4px), 
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0 0.1%, #1a1a1a);
  --button-text-color: #fff;
  --heart-contour-color: #000;
  --sparks-color: red;
}